#page-main
{
    background-image:url('../images/backgrounds/dark2.jpg') !important;
    background-repeat:repeat !important;
}

#page-content
{
    background-image:url('../images/backgrounds/dark2.jpg') !important;
    background-repeat:repeat !important;
}
